@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <br />
    <br />
    <br />
    <marquee><h1 class="display-4" style="color:green;">Welcome To Task and Project Management System</h1></marquee>
</div>
